<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roydon.system.mapper.SysSecretMapper">

    <resultMap type="SysSecret" id="SysSecretResult">
        <result property="secretId" column="secret_id"/>
        <result property="secretName" column="secret_name"/>
        <result property="secretKey" column="secret_key"/>
        <result property="keyId" column="key_id"/>
        <result property="keySecret" column="key_secret"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectSysSecretVo">
        select secret_id,
               secret_name,
               secret_key,
               key_id,
               key_secret,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from sys_secret
    </sql>

    <select id="selectSysSecretList" parameterType="SysSecret" resultMap="SysSecretResult">
        <include refid="selectSysSecretVo"/>
        <where>
            <if test="secretName != null  and secretName != ''">and secret_name like concat('%', #{secretName}, '%')
            </if>
            <if test="secretKey != null  and secretKey != ''">and secret_key = #{secretKey}</if>
            <if test="keyId != null  and keyId != ''">and key_id = #{keyId}</if>
            <if test="keySecret != null  and keySecret != ''">and key_secret = #{keySecret}</if>
        </where>
    </select>

    <select id="selectSysSecretBySecretId" parameterType="Long" resultMap="SysSecretResult">
        <include refid="selectSysSecretVo"/>
        where secret_id = #{secretId}
    </select>

    <insert id="insertSysSecret" parameterType="SysSecret" useGeneratedKeys="true" keyProperty="secretId">
        insert into sys_secret
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="secretName != null">secret_name,</if>
            <if test="secretKey != null">secret_key,</if>
            <if test="keyId != null">key_id,</if>
            <if test="keySecret != null">key_secret,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="secretName != null">#{secretName},</if>
            <if test="secretKey != null">#{secretKey},</if>
            <if test="keyId != null">#{keyId},</if>
            <if test="keySecret != null">#{keySecret},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateSysSecret" parameterType="SysSecret">
        update sys_secret
        <trim prefix="SET" suffixOverrides=",">
            <if test="secretName != null">secret_name = #{secretName},</if>
            <if test="secretKey != null">secret_key = #{secretKey},</if>
            <if test="keyId != null">key_id = #{keyId},</if>
            <if test="keySecret != null">key_secret = #{keySecret},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where secret_id = #{secretId}
    </update>

    <delete id="deleteSysSecretBySecretId" parameterType="Long">
        delete
        from sys_secret
        where secret_id = #{secretId}
    </delete>

    <delete id="deleteSysSecretBySecretIds" parameterType="String">
        delete from sys_secret where secret_id in
        <foreach item="secretId" collection="array" open="(" separator="," close=")">
            #{secretId}
        </foreach>
    </delete>
</mapper>
