<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roydon.business.mall.mapper.MallOrderGoodsMapper">

    <resultMap type="com.roydon.business.mall.domain.entity.MallOrderGoods" id="MallOrderGoodsMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
        <result property="goodsId" column="goods_id" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="NUMERIC"/>
        <result property="count" column="count" jdbcType="INTEGER"/>
        <result property="totalPrice" column="total_price" jdbcType="NUMERIC"/>
        <result property="receive" column="receive" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="MallOrderGoodsMap">
        select
          id, order_id, goods_id, price, count, total_price, receive
        from mall_order_goods
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="MallOrderGoodsMap">
        select
          id, order_id, goods_id, price, count, total_price, receive
        from mall_order_goods
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="orderId != null and orderId != ''">
                and order_id = #{orderId}
            </if>
            <if test="goodsId != null and goodsId != ''">
                and goods_id = #{goodsId}
            </if>
            <if test="price != null">
                and price = #{price}
            </if>
            <if test="count != null">
                and count = #{count}
            </if>
            <if test="totalPrice != null">
                and total_price = #{totalPrice}
            </if>
            <if test="receive != null and receive != ''">
                and receive = #{receive}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from mall_order_goods
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="orderId != null and orderId != ''">
                and order_id = #{orderId}
            </if>
            <if test="goodsId != null and goodsId != ''">
                and goods_id = #{goodsId}
            </if>
            <if test="price != null">
                and price = #{price}
            </if>
            <if test="count != null">
                and count = #{count}
            </if>
            <if test="totalPrice != null">
                and total_price = #{totalPrice}
            </if>
            <if test="receive != null and receive != ''">
                and receive = #{receive}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into mall_order_goods(order_id, goods_id, price, count, total_price, receive)
        values (#{orderId}, #{goodsId}, #{price}, #{count}, #{totalPrice}, #{receive})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into mall_order_goods(order_id, goods_id, price, count, total_price, receive)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.orderId}, #{entity.goodsId}, #{entity.price}, #{entity.count}, #{entity.totalPrice}, #{entity.receive})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into mall_order_goods(order_id, goods_id, price, count, total_price, receive)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.orderId}, #{entity.goodsId}, #{entity.price}, #{entity.count}, #{entity.totalPrice}, #{entity.receive})
        </foreach>
        on duplicate key update
        order_id = values(order_id),
        goods_id = values(goods_id),
        price = values(price),
        count = values(count),
        total_price = values(total_price),
        receive = values(receive)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update mall_order_goods
        <set>
            <if test="orderId != null and orderId != ''">
                order_id = #{orderId},
            </if>
            <if test="goodsId != null and goodsId != ''">
                goods_id = #{goodsId},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="count != null">
                count = #{count},
            </if>
            <if test="totalPrice != null">
                total_price = #{totalPrice},
            </if>
            <if test="receive != null and receive != ''">
                receive = #{receive},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from mall_order_goods where id = #{id}
    </delete>

</mapper>

