<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roydon.business.mall.mapper.MallUserCartMapper">

    <resultMap type="com.roydon.business.mall.domain.entity.MallUserCart" id="MallUserCartMap">
        <result property="cartId" column="cart_id" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="goodsId" column="goods_id" jdbcType="VARCHAR"/>
        <result property="count" column="count" jdbcType="INTEGER"/>
        <result property="active" column="active" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="MallUserCartMap">
        select
          cart_id, user_id, goods_id, count, active
        from mall_user_cart
        where cart_id = #{cartId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="MallUserCartMap">
        select
          cart_id, user_id, goods_id, count, active
        from mall_user_cart
        <where>
            <if test="cartId != null and cartId != ''">
                and cart_id = #{cartId}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="goodsId != null and goodsId != ''">
                and goods_id = #{goodsId}
            </if>
            <if test="count != null">
                and count = #{count}
            </if>
            <if test="active != null and active != ''">
                and active = #{active}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from mall_user_cart
        <where>
            <if test="cartId != null and cartId != ''">
                and cart_id = #{cartId}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="goodsId != null and goodsId != ''">
                and goods_id = #{goodsId}
            </if>
            <if test="count != null">
                and count = #{count}
            </if>
            <if test="active != null and active != ''">
                and active = #{active}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="cartId" useGeneratedKeys="true">
        insert into mall_user_cart(user_id, goods_id, count, active)
        values (#{userId}, #{goodsId}, #{count}, #{active})
    </insert>

    <insert id="insertBatch" keyProperty="cartId" useGeneratedKeys="true">
        insert into mall_user_cart(user_id, goods_id, count, active)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.userId}, #{entity.goodsId}, #{entity.count}, #{entity.active})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="cartId" useGeneratedKeys="true">
        insert into mall_user_cart(user_id, goods_id, count, active)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userId}, #{entity.goodsId}, #{entity.count}, #{entity.active})
        </foreach>
        on duplicate key update
        user_id = values(user_id),
        goods_id = values(goods_id),
        count = values(count),
        active = values(active)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update mall_user_cart
        <set>
            <if test="userId != null and userId != ''">
                user_id = #{userId},
            </if>
            <if test="goodsId != null and goodsId != ''">
                goods_id = #{goodsId},
            </if>
            <if test="count != null">
                count = #{count},
            </if>
            <if test="active != null and active != ''">
                active = #{active},
            </if>
        </set>
        where cart_id = #{cartId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from mall_user_cart where cart_id = #{cartId}
    </delete>

</mapper>

